.section {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
h2{
	font-family: "elza", sans-serif;
	font-weight: 200;
	text-align: left;
	margin-bottom: -30px;
}

h3{
	font-family: "elza", sans-serif;
	font-weight: 200;
	text-align: left;
	margin-bottom: -70px;
	font-size: 40px;
}
  
h4{
	font-family: "unbounded", sans-serif;
	text-transform: uppercase; 
	text-align: center;
	font-size: 60px;
}


#section1 { 
	background: #D5006D;
	font-family: "unbounded", sans-serif;
	text-transform: uppercase; 
	color: #FE9FAB;
	text-align: center;
	font-size: 32px;
}
  
#section2 { 
	background: #2F6BE5;
	font-family: "unbounded", sans-serif;
	text-transform: uppercase; 
	color: #82CBDA;
	text-align: center;
	font-size: 60px;
}
  
#section3 { 
	background: #3BC09F; 
	color: #4158D4;
	text-decoration: none;
}

#section3 h3{
	color: #4158D4;
}

#section3 h4{
	color: #4158D4;
}

#section4 { 
	background: #FF6F61; 
	color:#FFB300;
	text-decoration: none;
}

#section4 h3{
	color:#FFB300;
}

#section4 h4{
	color:#FFB300;
}


#section5 { 
	background: #3BC09F; 
	color: #4158D4;
	text-decoration: none;
}

#section5 h3{
	color: #4158D4;
}

#section5 h4{
	color: #4158D4;
}

#section6 { 
	background: #FF6F61; 
	color:#FFB300;
	text-decoration: none;
}

#section6 h3 h4{
	color:#FFB300;
}

#section6 h3{
	color:#FFB300;
}

#section6 h4{
	color:#FFB300;
}

#section7 { 
	background: #2F6BE5;
	font-family: "unbounded", sans-serif;
	text-transform: uppercase; 
	color: #82CBDA;
	text-align: center;
	font-size: 60px;
}

#section8 { 
	background: #3BC09F; 
	color: #4158D4;
	text-decoration: none;; 
}

#section8 h3{
	color: #4158D4;
}

#section8 h4{
	color: #4158D4;
}

#section9 {
	background: #FF6F61; 
	color:#FFB300;
	text-decoration: none;
}

#section9 h3{
	color:#FFB300;
}

#section9 h4{
	color:#FFB300;
}
  
a:link{
	list-style: none;
	text-decoration: none;
	list-style: none;
}

li{
	list-style-type: none;
}




