.section {
	display: flex;
	align-items: center;
	justify-content: center;
}
  
h2{
	font-family: "elza", sans-serif;
	font-weight: 200;
	text-align: left;
	margin-bottom: -30px;
}

#section1 { 
	background: #D5006D;
	font-family: "unbounded", sans-serif;
	text-transform: uppercase; 
	color: #FE9FAB;
	text-align: center;
	font-size: 32px;
}
  
#section2 { 
	background: #2F6BE5;
	font-family: "unbounded", sans-serif;
	text-transform: uppercase; 
	color: #82CBDA;
	text-align: center;
	font-size: 60px;
}
  
#section3 { 
	background: #3BC09F; 
	color: #4158D4;
	text-decoration: none;
}
  
#section4 { 
	background: #FF6F61; 
	color:#FFB300;
}

#section5 { background: #FF5733; }
#section6 { background: #3357FF; }
#section7 { background: #33FF57; }
#section8 { background: #FF5733; }
#section9 { background: #3357FF; }

  
a:link{
	list-style: none;
	text-decoration: none;
	list-style: none;
}

li{
	list-style-type: none;
}



